@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&display=swap");

:root {
  --main-color: #885a89;
  --dark-color: #363537;
  --light-color: #fff;
  --gray-color: #efefef;
  --width: 320px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gabarito", sans-serif;
}
body {
  min-height: 100svh;
  display: grid;
  place-items: center;
  background-color: var(--main-color);
  color: var(--dark-color);
}
.main {
  width: 100%;
  height: 100vh;
}

.contenedor1 {
  width: 100%;
  height: 100%;
  background-image: url(../Html/images/fondo8.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuadrot {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;
  flex-direction: column;
}
.cabezera {
  /*background-color:black;
  background: linear-gradient(180deg, rgba(0, 0, 0), rgba(0, 0, 0, 0));*/
  display: flex;
  width: 100%;
  height: 80px;
}

.navegacion {
  width: 100%;
  height: 50%;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link {
  width: 110px;
  text-decoration: none;
  color: white;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.link:hover {
  width: 110px;
  height: 80%;
  box-shadow: 30px red;
  background-color: rgba(6, 22, 244, 0.264);
  color: yellow;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 80%;
  flex-direction: column;
}
.logo1 {
  display: flex;
  align-self: center;
  height: 50%;
  width: 50%;
  margin-top: 10px;
}
.logo1 img {
  margin-top: 0px;
  margin-left: 30px;
  width: 80%;
  height: auto;
}
.banner-texto {
  width: 100%;
  height: 50%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 0.2em;
}
/*.banner-texto h1 {
  color: rgb(251, 4, 4);
  padding: 20px 35px;
  font-size: 1.4em;
}*/

.banner-texto p {
  width: 100%;
  color: rgb(8, 8, 8);
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.footer-text {
  padding-top: 60px;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
}
.rs {
  width: 80%;
  height: 30%;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  align-self: auto;
  justify-content: space-between;
  margin-bottom: 5px;
}
.face {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 252, 0.3);
  box-shadow: 0 8px 45px 0 rgba(31, 38, 135, 0.596);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 60px;
}
.face img {
  width: 30px;
  height: 30px;
}
.inst {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 252, 0.3);
  box-shadow: 0 8px 45px 0 rgba(31, 38, 135, 0.596);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
}
.inst img {
  width: 30px;
  height: 30px;
}
.twi {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 252, 0.3);
  box-shadow: 0 8px 45px 0 rgba(31, 38, 135, 0.596);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 60px;
}
.twi img {
  width: 30px;
  height: 30px;
}
.wha {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 252, 0.3);
  box-shadow: 0 8px 45px 0 rgba(31, 38, 135, 0.596);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 60px;
}
.wha img {
  width: 30px;
  height: 30px;
}

/*  *******************************************************
**** section2 



********************************************************  */

.contenedor2 {
  width: 100%;
  height: 100%;
  background-image: url(../Html/images/fondo7.png);
  background-size: cover;
}
body {
  min-height: 100svh;
  display: grid;
  place-items: center;
  background-color: var(--main-color);
  color: var(--dark-color);
}
.paquete {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 280px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--dark-color);
}

button:active,
button:hover {
  color: var(--main-color);
}

input {
  appearance: none;
  background-color: var(--gray-color);
  outline: none;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
}

/* firefox */
input::-moz-range-thumb {
  appearance: none;
  width: 0;
  height: 0;
  box-shadow: calc(-1 * var(--width)) 0 0 var(--width) var(--main-color);
}

/* webkit */
input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  box-shadow: calc(-1 * var(--width)) 0 0 var(--width) var(--main-color);
}

.player {
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  max-width: var(--width);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  gap: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.header {
  font-family: Gabarito, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
}

.header .bi {
  font-size: 1.15rem;
}

.track-info {
  text-align: center;
}

.track-info img {
  width: 110px;
  height: 110px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.track-info .name {
  font-family: Gabarito, sans-serif;
  font-size: 1em;
  font-weight: 500;
  /*color: var(--main-color);*/
  color: rgb(3, 3, 171);
  margin-block: 20px 5px;
}

.track-info .artist {
  font-family: Gabarito, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

.seek-slider {
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.seek-slider input {
  height: 5px;
  border-radius: 5px;
}

.seek-slider span {
  padding: 5px 0;
  user-select: none;
}

.audio-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.audio-controls button {
  width: 48px;
  height: 48px;
  font-size: 3rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-pause.paused .bi::before {
  content: "\F4F2";
}

.play-pause:not(.paused) .bi::before {
  content: "\F4C1";
}

.volume-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.volume-slider input {
  height: 3px;
}

.volume-slider .bi {
  font-size: 1.25rem;
}

.playlist {
  /*position: absolute;*******************/
  font-family: Gabarito, sans-serif;
  width: 25%;
  height: 100%;
  inset: 0;
  border-radius: 10px;
  border: 1px solid var(--gray-color);
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: grid;
  align-content: start;
  gap: 5px;
  transform: translateX(50%);
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.playlist.show {
  transform: none;
}

.playlist-header {
  position: relative;
  text-align: center;
  font-size: 1em;
}

.playlist-header button {
  font-size: 1em;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.playlist-content {
  overflow: hidden auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.item:not(:last-child) {
  border-bottom: 1px solid var(--gray-color);
}

.item.active,
.item:hover {
  background-color: var(--gray-color);
}

.item:not(.active)::after {
  content: "";
  width: 24px;
  height: 24px;
}

.item img {
  width: 48px;
  height: 48px;
  border-radius: 3px;
}

.item div {
  flex: 1;
}

.item h4 {
  font-family: Gabarito, sans-serif;
  font-size: 0.85em;
  /*color: var(--main-color);*/
  color: rgb(3, 3, 171);
}

.item p {
  font-family: Gabarito, sans-serif;
  font-size: 0.75em;
}

.item button {
  width: 24px;
  height: 24px;
  line-height: 1;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar2 {
  width: 50px;
  height: 30px;
  margin-left: 170px;
  border-radius: 10px;
  border: 1px solid var(--gray-color);
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar2 img {
  width: 20px;
}
.link2 {
  width: 50%;
  text-decoration: none;
  color: white;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.link2:hover {
  width: 30%;
  height: 50%;
  box-shadow: 30px red;
  background-color: rgba(6, 22, 244, 0.264);
  color: yellow;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********* SECTION 3 *******/

.contenedor3 {
  width: 100%;
  height: 100%;
  background-image: url(../Img/fondo6.png);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 150px;
}

.cuadrot3 {
  width: 60%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 30px;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
}
.cabezera3 {
  display: flex;
  width: 100%;
  height: 80px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.navegacion3 {
  width: 60%;
  height: 50%;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navegacion3 img {
  width: 25%;
  padding-top: 5px;
  color: white;
}
.navegacion3 img:hover {
  width: 25%;
  padding-top: 5px;
  color: white;
}
.banner3 {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  justify-items: center;
  /*background-color: yellow;*/
}
.foto {
  width: 20%;
  height: 185px;
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.482);
  backdrop-filter: blur(3px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  padding-bottom: 10px;
  /*background-color: aqua;*/
}
.foto img {
  width: 99%;
  height: 180px;
  border-radius: 8px;
}
.foto p {
  font-size: 1em;
  color: rgb(251, 4, 4);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 7px;
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.482);
  backdrop-filter: blur(3px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;

}
.banner-texto3 {
  font-family: Gabarito, sans-serif;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 82%;
  gap: 0.2em;
  margin-left: 70px;
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 12px 32px 0 rgba(31, 38, 135, 0.579);
  backdrop-filter: blur(3px);
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
.banner-texto3 h1 {
  font-family: Gabarito, sans-serif;
  color: rgb(251, 4, 4);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1 em;
  padding-left: 10px;
}
.banner-texto3 h2 {
  font-family: Gabarito, sans-serif;
  color: rgb(251, 4, 4);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 0.7em;
  padding-left: 10px;
}
.banner-texto3 p {
  font-family: Gabarito, sans-serif;
  font-size: 0.75em;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-text3 {
  font-family: Gabarito, sans-serif;
  padding-top: 20px;
  margin-left: 20px;
  width: 10%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 25px;
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center; /* Centra horizontalmente los elementos */
}

.rs3 {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente los elementos */
  justify-items: center;
}
.rs3 p {
  width: 100%;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.face3 {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 252, 0.3);
  box-shadow: 0 8px 45px 0 rgba(31, 38, 135, 0.596);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 60px;
  margin-top: 40px;
}
.face3 img {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face3 img:hover {
  width: 30px;
  height: 30px;
  color: #e1306c; /* Color de Instagram al pasar el mouse */
}

.inst3 {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 252, 0.3);
  box-shadow: 0 8px 45px 0 rgba(31, 38, 135, 0.596);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  margin-top: 40px;
}
.inst3 img {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inst3 img:hover {
  width: 30px;
  height: 30px;
  color: #e1306c; /* Color de Instagram al pasar el mouse */
}
.twi3 {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 252, 0.3);
  box-shadow: 0 8px 45px 0 rgba(31, 38, 135, 0.596);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 60px;
  margin-top: 40px;
}
.twi3 img {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twi3 img:hover {
  width: 30px;
  height: 30px;
  color: #e1306c; /* Color de Instagram al pasar el mouse */
}
.wha3 {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 251, 252, 0.3);
  box-shadow: 0 8px 45px 0 rgba(31, 38, 135, 0.596);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 60px;
  margin-top: 40px;
}
.wha3 img {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wha3 img:hover {
  width: 30px;
  height: 30px;
  /*color: #e1306c;  Color de Instagram al pasar el mouse */
}
